[submodule "$----1--$$/--/--hubot-master/hubot-redis-brain/.github/79.0.3945.88/platformio0001/Nauz-File-Detector/gui_source"]
	path = $----1--$$/--/--hubot-master/hubot-redis-brain/.github/79.0.3945.88/platformio0001/Nauz-File-Detector/gui_source
	url = https://github.com/sollo11/desktop-development.git
